* {
  margin: 0;
}
.box {
  background-color: #ff4d4d;
  min-height: 500px;
  text-align: center;
  background-image: 
                    url('../img/dog.jpg');
  /* filter: blur(8px); */

  background-size: cover;
  background-repeat:no-repeat;
  background-position: top right;
}
